body{
    background:#5286F3;
    font-size:24px;
    color:#fff;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login{
    background-color:#536DFE;
    color:#fff;
}
a{
    color:#fff;
}