*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header{
    height: 100vh;
    background-image: url(../../public/images/background.png);
    background-position: center;
    background-size: cover;
}
.containerr{
    margin-right: 100px;
    margin-left: 100px;
}

.logo{
    margin-top: 30px;
    width: 100px;
}

.header-text{
    max-width: 350px;
    margin-top: 140px;
}
h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #536DFE;
    margin: 15px 0;
}

.comun-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #536DFE;
    font-weight: bold;
    cursor: pointer;
}
p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line-1{
    width: 15px;
    height: 15px;
    background: #536DFE;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #536DFE;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #536DFE;
    display: inline-block;
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/* Objetivo General */
#objetivoG, #proyect, #prueba{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.obj-left-col{
    flex-basis: 50%;
}
.obj-left-col img{
    width: 100%;
}

.obj-right-col{
    flex-basis: 50%;
    text-align: right;
}
.obj-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/* Tecnologias */
#tecnologias{
    padding-top: 50px;
    padding-bottom: 50px;

}
.tecnologias-row{
    width: 80;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tecnologias-col{
    flex-basis: 25%;
    text-align: center;
}
.tecnologias-col img{
    width: 200px;
}
.tecnologias-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.tecnologias-btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.tecnologias-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

/* Dirigido a */

#dirigido, #config {
    padding: 100px 0;
}
.dirigido-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dirigido-right-col{
    flex-basis: 50%;
}
.dirigido-right-col img{
    width: 100%;
}
.dirigido-left-col{
    flex-basis: 50%;
}
.dirigido-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
    
}
.dirigido-text button, .obj-text button{
    margin: 30px 0;
}

/* comments */

.comments-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.comments-left-col,.comments-right-col{
    flex-basis: 50%;

}
.comments-right-col img{
    width: 100%;
}

form{
    max-width: 500px;
    margin: 30px 0;
}

form input, textarea, .config {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #536DFE;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-box button {
    flex-basis: 100%;
    padding: 18px 0;
}

button:hover {
    background: #536DFE;
    transition: .5s;
}

/* footer */
#footer {
    padding: 50px 0 30px;

}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #536DFE;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col {
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    color: #536DFE;
    margin-bottom: 20px;
}
.link-title small{
    font-size: 13px;
    color: #777;
    cursor: pointer;
}
.link-title small:hover{
    color: #536DFE;
    cursor: pointer;
}
.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo button {
    
    margin-top: 20px;
    font-size: 10px;
}

canvas{
    margin: 0px;
    border:1px solid black;
}
.backcanvas{
    margin: 0;
    padding: 5px 5px 0px 5px;
    text-align:center;
    width: 60%;
    color:white;
    background: #536DFE;
}
#perceptronPaint{
    background-color: white;
    border:0px solid black;
}

/* Responsive */

@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    .header-text{
        margin-top: 100px; 
    }
    h1{
        font-size: 25px;
    }
    #menuBtn{
        width: 40px;
        right: 50px;
       
    }
    .comun-btn{
        padding: 10px 16px;
    }
    .obj-left-col, .obj-right-col{
        flex-basis: 100%;
    }
    .obj-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .dirigido-right-col, .dirigido-left-col {
        flex-basis: 100%;
    }
    .tecnologias-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .dirigido-left-col{
        flex-basis: 100%;
    }
    .dirigido-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .comments-left-col,.comments-right-col{
        flex-basis: 100%;
    
    }
    .comments-right-col{
        margin-top: 60px;
    }
    .footer-left-col, .footer-right-col{
        flex-basis: 100%;
    }

}