<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Admin</title>
    <link rel="stylesheet" href="../../public/css/login.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <% if (signInMessage) { %>
      <div class="alert alert-warning alert-dismissible fade show mt-6" role="alert">
        <%= signInMessage  %> 
      </div>
      <% } %>
      <!------ Include the above in your HEAD tag ---------->
      
      <div class="simple-login-container">
          <h2>Login Form</h2>
          <form action="/admin/signIn" method="POST">
          <div class="row">
              <div class="col-md-12 form-group">
                  <input type="text" name="email" class="form-control" placeholder="Username">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 form-group">
                  <input type="password" name="pass" placeholder="Enter your Password" class="form-control">
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 form-group">
                  <button class="btn btn-block btn-login" type="submit"> Ingresar</button>
              </div>
          </div>
          </form>
      </div>
</body>
</html>

