
  <% if (signUpMessage) { %>
    <div><%= signUpMessage  %> </div>
  <% } %>
<form action="/admin/signUp" method="POST">
    <input type="email" name="email" >
    <input type="password" name="pass">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>